input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
#feed-container
{
    width: 100%;
    height: 100%;
    color: white;
}
#feed-container nav
{
    height: 80px;
    display: flex;
    justify-content: center;
}
#feed-container .search-group
{
    align-self: center;
}
#feed-container .search-group label
{

}
#feed-container .search-group input
{
    font-size: 18px;
    background: var(--slight);
    color: var(--color10);
    border-bottom: 1px solid var(--color30);
    border-radius: 5px;
    padding: 5px 10px;
    width: 300px;
    margin-right: 10px;
}

#feed-container .search-group button
{
    font-size: 16px;
    padding: 5px;
    background-color: var(--color30);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

#feed-container header
{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
 
}
#feed-container .feed-list
{
    margin: 0 5% 30px;
    overflow-y: auto;
    height: calc(90% - 50px);
    background-color: var(--slight);
    padding: 20px 40px;
}
#feed-container .feed-element
{
    display: flex;
    margin: 0px auto 50px;
}
#feed-container .feed-avatar    
{
    height: 40px;
    width: 40px;   
    /* background-image: url("/images/icons/empty_light.png"); */
    background-image: url("/images/icons/android-icon-192x192.png");;
    background-size: contain;
    background-repeat: no-repeat;

}
#feed-container .feed-group
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#feed-container .feed-title
{
    display: block;
    color: var(--color30);
    font-size: 18px;
    font-weight: 600;
}
#feed-container .feed-timestamp
{
    font-size: 14px;
    font-weight: 200;
    font-style: italic;
}
#feed-container .feed-author
{
    font-size: 14px;
    font-weight: 200;
    color: var(--color10);
}
@media screen and (max-device-aspect-ratio : 21 / 18)
{
    #feed-container nav.search
    {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    #feed-container .search-group
    {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    #feed-container .search-group input
    {
        width: 65%;
    }
    #feed-container .feed-list
    {
        margin: 0;
        padding: 20px;
    }
}